@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b375d;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
}
header{
    margin-top: -10rem;
    height: 100vh;
    background: url(data-5606639_1280.jpg) 50% 50%;
    background-size: cover;
}
#burger{
    display: none;
    position: absolute;
    margin-left: 22rem;
}
.nav ul li{
    list-style: none;
    padding-left: 1rem;
}
.nav ul{
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav img{
    margin-left: 5rem;
    height: 60px;
    border-radius: 50%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    color: black;
}
#moi{
    margin-top: 10rem;
    margin-left: 5rem;
}
#moi ul li{
    list-style: none;
    text-align: center;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px blue;
}
#moi ul li a{
    text-decoration: none;
    color: white;
}
#moi ul {
    padding-top: 10rem;
}
#myName{
    font-size: 2rem;
    font-weight: bold;
    font-family: "Merriweather", serif;
    color: white;
}
#dev{
    font-size: 2rem;
    color: white;
}
#btname button{
    cursor: pointer;
    height: 2.5rem;
    width: 10rem;
    background-color: #1b375d;
    color: white;
    border: none;
}
#forMe img{
    height: 250px;
    margin-left: 10rem;
}
#forMe .text li{
    list-style: none;
}
#forMe .text{
    display: flex;
    align-items: center;
}
#parcour{
    text-align: left;
    padding-left: 5rem;
    padding-right: 5rem;
    line-height: 2rem;
}
#forMe h1{
    text-align: center;
    color: #1b375d;
}
.now{
    background: url(purse-1478852_1280.jpg) 50% 50%;
    background-size: cover;
    height: 20vh;
}
.now p{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #1b375d;
    font-weight: bold;
}
.knowledge ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.knowledge ul li{
    list-style: none;
    padding-top: 1.5rem;
}
#compt{
    font-size: 2rem;
    font-weight: bold;
    color: #1b375d;
}
#amour{
    text-align: center;
    width: 80vh;
}
.FULLSTACK{
    width: 70%;
    margin: auto;
}
.FULLSTACK form input{
    height: 0.5rem;
    width: 50rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 30px;
}
.FULLSTACK h1{
    text-align: center;
}
.FULLSTACK form label{
    color: #1b375d;
    font-weight: bold;
}
#i1{
    background: linear-gradient(to right,  #1b375d 75%, rgb(180, 170, 170) 15%);
}
#i2{
    background: linear-gradient(to right,  #1b375d 70%, rgb(180, 170, 170) 30%);
}
#i3{
    background: linear-gradient(to right,  #1b375d 60%, rgb(180, 170, 170) 40%);
}
#i4{
    background: linear-gradient(to right,  #1b375d 50%, rgb(180, 170, 170) 50%);
}
#i5{
    background: linear-gradient(to right,  #1b375d 90%, rgb(180, 170, 170) 10%);
}
#i6{
    background: linear-gradient(to right,  #1b375d 90%, rgb(180, 170, 170) 10%);
}
#i7{
    background: linear-gradient(to right,  #1b375d 85%, rgb(180, 170, 170) 15%);
}
.FULLSTACK form button{
    /* cursor: pointer; */
    height: 2.5rem;
    width: 10rem;
    background-color: #1b375d;
    color: white;
    border: none;
}
#rea button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#rea button{
    height: 2.5rem;
    width: 10rem;
    background-color: #1b375d;
    color: white;
    border: none
}
.FULLSTACK form button a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.citation{
    margin-top: 1.5rem;
    background: #1b375d;
    background-size: cover;
    /* filter: contrast(50%); */
    height: 40vh;
    margin-bottom: -1.5rem;
}
.splide__track{
    padding-top: 2rem;
}
.splide__track li{
    text-align: center;
    color: white;
    font-size: 2rem;
}
#beforefooter p{
    text-align: center;
    color: white;
}
#nom, #prenom, #mail, #tel, #object{
    width: 30rem;
    height: 1.5rem;
}
.opaque form input{
    margin-bottom: 1rem;
}
#texter{
    width: 30rem; 
    height: 6rem;
}
#contacts {
    display: flex;
   margin-left: 19rem;
    /* align-items: center; */
    /* gap: 5px;
    list-style: none;
    padding-top: 4rem; */
}
#contacts li{
    list-style: none;
    padding-right: 3rem;
    padding-bottom: 1rem;
}
#contacts li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.opaque form button{
    margin-top: 1rem;
    /* cursor: pointer; */
    height: 2.5rem;
    width: 10rem;
    background-color: #1b375d;
    color: white;
    border: none;
}
.opaque form label{
    color: white;
}
.opaque form{
    touch-action: manipulation;
    /* margin-left: 15rem; */
}
.opaque{
    border-radius: 20px;
    margin: auto;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5)
}
#beforefooter{
    height: 130vh;
    /* margin-top: -1.5rem; */
    background: url(system-3699542_1280.jpg) 50% 50%;
    background-size: cover;
}
#beforefooter h1{
    text-align: center;
    color: white;
}
.foot{
    margin-top: -1.7rem;
    height: 20vh;
    background: #1b375d;
}
.foot h5{
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
}
.foot p{
    text-align: center;
}
.foot .end{
    width: 50%;
    margin: auto;
}

/* *************************responsive**************************** */
@media screen and (max-width:960px){
    #i1,#i2,#i3,#i4,#i5,#i6,#i7{
        width: 90%;
    }
    #moi{
        margin-top: 10rem;
        margin-left: 2rem;
    }
    .opaque{
        border-radius: 20px;
        margin: auto;
        width: 100%;
        /* flex-direction: column; */
        background-color: rgba(0, 0, 0, 0.5)
    }
    #nom, #prenom, #mail, #tel, #object{
        width: 20rem;
        height: 1.5rem;
    }
    #texter{
        width: 20rem; 
        height: 3rem;
    }
}
@media screen and (max-width:866px){
    #forMe .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #forMe img{
        height: 500px;
        margin-left: 5rem;
    }
}
@media screen and (max-width:722px){
    #forMe img{
        height: 300px;
        margin-left: 2rem;
    }
    #moi{
        margin-top: 10rem;
        margin-left: 1rem;
    }
    .opaque{
        border-radius: 20px;
        margin: auto;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5)
    }
    .opaque form input{
        margin-bottom: 0rem;
        width: 0px;
    }
    .opaque form{
        margin-left: 2rem;
    }
    #contacts{
       margin-left: 9rem;
    }
    
}
/* @media screen and (max-width:523px){
    .opaque form{
        margin-left: 7rem;
    }
} */
@media screen and (max-width:522px){
    .splide__track li{
        text-align: center;
        color: white;
        font-size: 1.5rem;
    }
    #forMe img{
        height: 300px;
        margin-left: 0.5rem;
    }
    #moi{
        margin-top: 10rem;
        margin-left: -1.5rem;
    }
    .knowledge ul{
        /* padding-right: 1rem; */
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .opaque form{
        margin-left: 2.5rem;
    }
    #contacts{
       margin-left: 5rem;
    }
}
@media screen and (max-width:414px){
    /* #moi{
        margin-top: 6rem;
        margin-left: 5rem;
    } */
     .now p{
      padding-top: 3.5rem;
     }
    .splide__track li{
        text-align: center;
        color: white;
        font-size: 1rem;
    }
    /* #moi{
        margin-top: 4rem;
        margin-left: -1.5rem;
    } */
    #moi ul {
        padding-top: 5rem;
    }
    .knowledge ul{
        padding-right: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav ul{
        width: 250px;
        height: 50%;
        background-color: #1b375d;
        top: 1rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -290px;
        transition: all 0.5s ease;
    }
    .nav ul li{
        padding:0 0 0 0;
        color: white;
        font-size: 1rem;
        font-family: "Gravitas One", serif;
    }
    .nav ul li a:hover{
        font-weight: bold;
        color: #1b375d;
        background: white;
    }

    #burger{
       display: block;
       position: absolute;
       color: white;
       font-size: 1.5rem; 
    }
    #amour{
        text-align: center;
        width: 20vh;
    }
    .citation{
        margin-top: 0.5rem;
        background: #1b375d;
        background-size: cover;
        /* filter: contrast(50%); */
        height: 20vh;
        margin-bottom: -1.5rem;
    }
    #beforefooter{
        height: 80vh;
        /* margin-top: -1.5rem; */
        background: url(system-3699542_1280.jpg) 50% 50%;
        background-size: cover;
    }
    #beforefooter h1{
        padding-top: 0.5rem;
        text-align: center;
        color: white;
    }
    .foot{
        margin-top: -1.7rem;
        height: 15vh;
        background: #1b375d;
    }
    header{
        margin-top: -10rem;
        height: 50vh;
        background: url(data-5606639_1280.jpg) 50% 50%;
        background-size: cover;
    }
}
@media screen and (min-width:982px){
    .opaque form{
        margin-left: 10rem;
    }
}
/* .nave{
    left: 0px;
} */

.xmark{
    position: absolute;
    color: white;
    font-size: 1.5rem; 
    top: 1rem;
    right: 2rem;
}
/* **************************************************************************** */
#porte{
    text-align: center;
}
.portfo{
    padding: 40px 10%;

}
.produ{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}
.produ .cart{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgb(0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.produ .cart .img img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
}
.produ .cart .des{
    padding: 5px 20px;
    width: 0,8;
}
